.App {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.book-list {
  display: flex;
}

.book-cover {
  height: 570px;
  width: 370px;
}

.list-group {
  overflow-x: auto;
}

/******* NavBar.js*/
#add-book-link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#github-link {
  margin-right: 1rem;
}

.register-user-link {
  margin-left: 1rem;
}

#logout-link {
  margin-left: 1rem;
}

/******* Search Component*/
.search-bar-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  margin-top: 2rem;
}

.search-form {
  display: flex;
  flex-direction: row;
}

.search-input {
  border-radius: 5px;
}

.search-button {
  border-radius: 5px;
}

.search-bar-input {
  margin-right: 0.3rem;
}

.results-jumbo {
  margin-top: 1rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/******* Modal*/
.subtitle {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

/******* Buttons*/

.more-details-btn {
  margin-top: 0.5rem;
}

.remove-btn {
  float: right;
  margin-top: -40px;
}

/* Phone*/
@media screen and (max-width: 500px) {
  .book-cover {
    height: 400px;
    width: 268px;
  }
  .bookshelf-container {
    margin-top: 1rem;
  }
}

/* Tablet*/
@media screen and (max-width: 1440px) {
  .bg-primary {
    margin-bottom: 1rem;
  }
  .bookshelf-container {
    margin-top: 2rem;
    max-width: 1340px;
  }
}

/* Desktop*/
@media screen and (min-width: 1441px) and (min-height: 775px) {
  .bookshelf-container {
    max-width: 1540px;
    margin-top: 3rem;
  }

  .book-cover {
    height: 625px;
    width: 418px;
  }

  .nav-container {
    max-width: 85%;
  }
}

/* Wide and Tall Desktop*/
@media screen and (min-width: 1441px) and (min-height: 1000px) {
  .bookshelf-container {
    max-width: 1540px;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .nav-container {
    max-width: 85%;
  }
}
