.App {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.book-list {
  display: flex;
}

.book-cover {
  height: 87%;
  width: 370px;
}

.list-group {
  overflow-y: auto;
}

/******* Modal*/
.subtitle {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

/******* Buttons*/

.more-details-btn {
  margin-top: 0.5rem;
}

.remove-btn {
  float: right;
  margin-top: -40px;
}

@media screen and (max-width: 1441px) {
  .bg-primary {
    margin-bottom: 1rem;
  }
}
